<!DOCTYPE html>
<html>
    <head>
        <title>Order2Go</title>
        <meta charset="UTF-8">      
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <link rel="stylesheet" href="static/css/jquery-ui.min.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/primeui-2.1-min.css">
        <style type="text/css">
            body,
            .ui-widget {
                font-family: Arial;
                font-size: 13px;
            }    
        </style>
        <script type="text/javascript" src="static/js/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/bootstrap.js"></script>
        <script type="text/javascript" src="static/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="static/js/primeui-2.1-min.js"></script>
        <script type="text/javascript" src="static/js/knockout.js"></script>
    </head>
    <body>        
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Order2Go</a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/supplier">Supplier</a></li>
                    </ul>
                </div>
            </div>
        </nav>    
        <div id="add" class="modal fade" tabindex="=-1" role="dialog" aria-labelledby="addDialogLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="addDialogLabel">Add Supplier</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputSupplier">Supplier</label>
                                <div class="controls">
                                    <input data-bind="value: name" type="text" id="inputSupplier" placeholder="Supplier's name" style="width: 300px;    ">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPhone">Phone</label>
                                <div class="controls">
                                    <input data-bind="value: phone" type="text" id="inputPhone" placeholder="Phone number" style="width: 300px;">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputNote">Note</label>
                                <div class="controls">
                                    <input data-bind="value: note" type="text" id="inputNote" placeholder="Note" style="width: 300px;">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button data-bind="click: addSupplier" class="btn btn-primary">Add Supplier</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>
                </div>
            </div>
        </div>         
        <div id="edit" class="modal fade" tabindex="=-1" role="dialog" aria-labelledby="editDialogLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="editDialogLabel">Update Supplier</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputSupplier">Supplier</label>
                                <div class="controls">
                                    <input data-bind="value: name" type="text" id="inputSupplier" placeholder="Supplier Name" style="width: 300px;">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputDescription">Phone</label>
                                <div class="controls">
                                    <input data-bind="value: phone" type="text" id="inputPhone" placeholder="Phone number" style="width: 300px;">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputNote">Note</label>
                                <div class="controls">
                                    <input data-bind="value: note" type="text" id="inputNote" placeholder="Note" style="width: 300px;">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button data-bind="click:editSupplier" class="btn btn-primary">Update Supplier</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>
                </div>
            </div>
        </div> 
        <div id="main" class="container">
            <h3>Suppliers</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td><b>Id</b></td>
                        <td><b>Supplier</b></td>
                        <td><b>Info</b></td>
                        <td><b>Emails</b></td>
                        <td><b>Options</b></td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: suppliers">
                    <tr>
                        <td><p><b data-bind="text: id"></b></p></td>
                        <td><p><a data-bind="attr: {href:'/emailsupplier?supplier='+id()}"><b data-bind="text: name"></b></a></p></td>
                        <td>
                            <p data-bind="text: phone"></p>
                            <p data-bind="text: note"></p>
                        </td>
                        <td data-bind="foreach: emails"><p data-bind="text: Email"></p></td>
                        <td>
                            <button data-bind="click: $parent.beginEdit" class="btn">Edit</button>
                            <button data-bind="click: $parent.remove" class="btn">Delete</button>
                        </td>
                    </tr>
                </tbody>                
            </table>
            <button data-bind="click: beginAdd" class="btn">Add Supplier</button>
        </div>                
        <script type="text/javascript">    
            function SuppliersViewModel() {
                var self = this;
                self.suppliers = ko.observableArray();
                self.supsURI = '/fornecedores';

                self.ajax = function(uri, method, data) {
                    var request = {
                        url: uri,
                        type: method,
                        cache: false,
                        dataType: 'json',
                        contentType: "application/json",
                        accepts: "application/json",
                        crossDomain: true,
                        data: JSON.stringify(data),
                        error: function(jqXHR) {
                            console.log("ajax error " + jqXHR.status);
                        }
                    };
                    return $.ajax(request);
                }

                self.ajax(self.supsURI,'GET').done(function(data) {
                    for (var i = 0; i < data.Length; i++) {                        
                        self.suppliers.push({
                            id: ko.observable(data.Suppliers[i].ID),
                            name: ko.observable(data.Suppliers[i].Name),
                            phone: ko.observable(data.Suppliers[i].PhoneNumber),
                            note: ko.observable(data.Suppliers[i].Note),
                            emails: ko.observableArray(data.Suppliers[i].Emails)
                        });  
                    }
                });

                self.beginAdd = function() {
                    $('#add').modal('show');
                }

                self.add = function(supplier){
                    self.ajax(self.supsURI, 'POST', supplier).done(function(data) {
                        self.suppliers.push({
                            id: ko.observable(data.ID),
                            name: ko.observable(data.Name),
                            phone: ko.observable(data.PhoneNumber),
                            note: ko.observable(data.Note)
                        });
                    });
                }

                self.beginEdit = function(supplier) {
                    editSupplierViewModel.setSupplier(supplier);
                    $('#edit').modal('show');
                }

                self.edit = function(supplier, data) {
                    self.ajax(self.supsURI+'/'+supplier.id(), 'PUT', data).done(function(res) {
                        self.updateSupplier(supplier, res);
                    });
                }
                self.updateSupplier = function(supplier, newSupplier) {
                    var i = self.suppliers.indexOf(supplier);
                    self.suppliers()[i].id(newSupplier.ID);
                    self.suppliers()[i].name(newSupplier.Name);
                    self.suppliers()[i].phone(newSupplier.PhoneNumber);
                    self.suppliers()[i].note(newSupplier.Note);
                }

                self.remove = function(supplier) {
                    self.ajax(self.supsURI+'/'+supplier.id(),'DELETE').done(function(){
                        self.suppliers.remove(supplier);
                    });                    
                }                
            }

            function AddSupplierViewModel() {
                var self = this;
                self.name = ko.observable();
                self.phone = ko.observable();
                self.note = ko.observable();

                self.addSupplier = function() {
                    $('#add').modal('hide');
                    suppliersViewModel.add({
                        name: self.name(),
                        note: self.note(),
                        phone: self.phone()
                    });
                    self.name("");
                    self.phone("");
                    self.note("");
                }
            }

            function EditSupplierViewModel() {
                var self = this;
                self.name = ko.observable();
                self.phone = ko.observable();
                self.note = ko.observable();

                self.setSupplier = function(supplier) {
                    self.supplier = supplier;
                    self.name(supplier.name());
                    self.phone(supplier.phone());
                    self.note(supplier.note());
                    $('edit').modal('show');
                }
                self.editSupplier = function() {
                    $('#edit').modal('hide');
                    suppliersViewModel.edit(self.supplier, {
                        name: self.name(),
                        phone: self.phone() ,
                        note: self.note()
                    });
                }
            }

            var suppliersViewModel = new SuppliersViewModel();
            var addSupplierViewModel = new AddSupplierViewModel();
            var editSupplierViewModel = new EditSupplierViewModel();
            ko.applyBindings(suppliersViewModel, $('#main')[0]);
            ko.applyBindings(addSupplierViewModel, $('#add')[0]);
            ko.applyBindings(editSupplierViewModel, $('#edit')[0]);
        </script>
    </body>
</html>