<!DOCTYPE html>
<html>
    <head lang="pt">
        <meta charset="UTF-8">
        <title>Relat&oacuterio</title>
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <table>
            <tr>
                <th>
                    Terminal
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    Total
                </th>
            </tr>
            <tr>
                <td>
                    {{.Data.Trm}}
                </td>
                <td>
                    {{.Data.Qtd}}
                </td>
                <td>
                    {{.Data.Tot}}
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>
                    Documento
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Horário
                </th>
            </tr>
            {{range $k,$v:=.List}}
            <tr>
                <td>
                    {{$v.Documento}}
                </td>
                <td>
                    {{$v.Nome}}
                </td>
                <td>
                    {{$v.Valpag}}
                </td>
                <td>
                    {{$v.Date}}
                </td>
            </tr>
            {{end}}
        </table>
    </body>
</html>